<div class="container-fluid">
    <div class="mb-4 d-flex justify-content-between align-items-center">
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <app-tabla-prestador-servicios *ngIf="paquetito.tablaCentrosCrecerComponent" [paquetito]='paquetito'></app-tabla-prestador-servicios>
            <app-editar-prestador-servicios (salida)="actCCrecer($event)" *ngIf="paquetito.editarCentroCrecerComponent" [paquetito]='paquetito'></app-editar-prestador-servicios>
        </div>
    </div>
</div>