<div class="page-title animated fadeIn fast my-4">
    <h6 class="mb-1 text-uppercase text-muted">Reporte de</h6>
    <h5 class="h3 m-0 text-uppercase">Centros Crecer</h5>
</div>
<div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <app-info-card [idCard]=3></app-info-card>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
        <div class="card animated fadeIn fast">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <button [routerLink]="['/menu-hijo/3']" class="btn btn-outline-danger btn-sm"><i class="fa fa-undo mr-2"></i>Regresar</button>
                    </div>
                    <div class="mr-1">
                        <div class="list-inline-item">
                            <div>
                                <button type="button " class="btn btn-primary btn-sm" id="dropdownReports" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h "></i></button>
                                <div class="dropdown-menu dropdown-menu-left shadow-lg " aria-labelledby="dropdownReports">
                                    <div class="dropdown-header text-primary "><span class="text-xs text-uppercase ">EXPORTAR</span>
                                    </div>
                                    <a class="dropdown-item pdf " (click)="exportPDF()"><i class="fa fa-file-pdf-o mr-2 "></i>PDF</a>
                                    <a class="dropdown-item excel" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o mr-2 "></i>Excel</a>
                                </div>
                            </div>
                        </div>

                        <div class="list-inline-item ">
                            <button type="button" class="btn btn-primary btn-sm " (click)="agregarCC() "><i class="fa fa-plus "></i><span class="ml-2 ">Nuevo Centro Crecer</span></button>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="d-flex align-items-center mb-3 ">
                        <div class="input-group m-30 mt-3 ">
                            <input type="text" name="searchText" [(ngModel)]="searchText" class="form-control form-control-sm" placeholder="Buscar...">
                        </div>
                    </div>
                    <div class="table-responsive small">
                        <table id="PDFTable" class="table table-sm table-borderless" [ngClass]="{'table-hover': centros != 0 }">
                            <thead>
                                <tr class="border-bottom padding-interno">
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                    <th>Colonia</th>
                                    <th>Delegación</th>
                                    <th>Telefono</th>
                                    <th>Codigo Postal</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let c of centros | filter:searchText | paginate:{itemsPerPage: 10, currentPage: pageActual}">
                                    <td>{{c.strNombre}}</td>
                                    <td>{{c.strDireccion}}</td>
                                    <td>{{c.strColonia}}</td>
                                    <td>{{c.strDelegacion}}</td>
                                    <td>{{c.strTelefono}}</td>
                                    <td>{{c.intCodigoPostal}}</td>
                                    <td class="text-center ">
                                        <div class="list-inline-item">
                                            <div>
                                                <button type="button" class="btn btn-primary btn-sm" id="dropdownReports" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h "></i></button>
                                                <div class="dropdown-menu dropdown-menu-left shadow-lg " aria-labelledby="dropdownReports">
                                                    <div class="dropdown-header text-primary "><span class="text-xs text-uppercase ">EXPORTAR</span>
                                                    </div>
                                                    <a class="dropdown-item excel" (click)="mostrarInfoCC(c)"><i class="fa fa-edit mr-2"></i>Actualizar</a>
                                                    <a class="dropdown-item pdf" (click)="eliminarCC(c._id, c.strNombre)"><i class="fa fa-trash-o mr-2 "></i>Eliminar</a>
                                                    <a class="dropdown-item hover" (click)="putArrAdmin( )"><i class="fa fa-file-excel-o mr-2 "></i>Administrador</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <tr *ngIf="centros == 0 || centros === ''">
                                        <td colspan="7">
                                            <div class="alert alert-dismissible alert-light text-center">
                                                <h5 style="height: 100%;width: 100%;"><strong>¡No hay registros!</strong>&nbsp;Click &nbsp;<a [routerLink]="['/registra-centro']">AQUÍ</a>&nbsp; para agregar un nuevo Centro Crecer</h5>
                                            </div>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                        <div class="mt-4 float-right">
                            <pagination-controls (pageChange)="pageActual = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>