<!-- Nav menu with user information -->
<nav class="navbar navbar-expand-xl navbar-dark bg-dark pmd-navbar pmd-z-depth fixed-top">
    <img class="mr-2" src="assets/img/crecerlogo.png" width="40" height="40" alt="">
    <a class="navbar-brand" href="#">Centros Crecer</a>
    <div class="dropdown pmd-dropdown pmd-user-info ml-auto">
        <a href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center" data-toggle="dropdown" data-sidebar="true" aria-expanded="false">
            <img class="mr-2" src="assets/img/user.png" width="40" height="40" alt="">

            <div class="media-body">
                Username
            </div>

        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <a class="dropdown-item" href="javascript:void(0);">Edit Profile</a>
            <a class="dropdown-item" href="javascript:void(0);">Logout</a>
        </ul>
    </div>
</nav>