<nav class="navbar navbar-expand-lg py-0 py-md-0 navbar-light bg-light sticky-top">
    <!--<img class="mr-2" src="assets/img/crecerlogo.png" width="40" height="40" alt="">-->

    <a class="navbar-brand">
        <div>
            <a class="navbar-brand" [routerLink]="['/menu']">
                <img src="assets/img/arbolito.png" width="25px" height="30px">
                <span class="text-primary"> Centros</span><span class="text-success"> Crecer</span>
            </a>
        </div>
    </a>
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link text-primary" href="#" id="navbardrop" data-toggle="dropdown">
                    <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right pointer">
                    <a class="dropdown-item">Editar Perfil</a>
                    <a class="dropdown-item">Cerrar Sesión </a>
                </div>
            </li>
        </ul>
    </form>
</nav>