<audio src="assets/audios/musica de espera.mp3" autoplay loop></audio>
<div class="vh-100 d-flex align-items-center">
    <div class="container py-5">

        <div class="row align-items-center">
            <div class="col-lg-6">

                <div class="text-center">
                    <img src="assets/images/no-results.png" class="img-fluid">
                </div>

            </div>
            <div class="col-lg-6">
                <div class="text-center">
                    <h6 class="text-uppercase text-muted mb-4 display-3">Error 404</h6>
                    <h1 class="h1 text-muted page-title mb-3">No se ha encontrado la pagina web</h1>
                    <p class="text-muted mb-4">Parece que has tomado un giro equivocado. No te preocupes ... nos pasa a los mejores. Aquí hay un pequeño consejo que podría ayudarlo a retomar el camino.</p>
                    <a href="#" routerLink="/home" class="btn btn-primary round">Volver a la pagina de Inicio</a>
                </div>
            </div>

        </div>

    </div>
</div>