<div class="card">
    <div class="card-header">
        <h6 class="h6 m-0">Modificar Categoría</h6>
    </div>
    <div class="container">
        <form (submit)="actualizarCategoria()" #forma="ngForm" encType="multipart/form-data">
            <fieldset>
                <br>
                <div class="form-group" *ngIf="false">
                    <label class="control-label" for="readOnlyInput">Identificador</label>
                    <input class="form-control form-control-sm" type="text" placeholder="Ingrese nombre" name="_id" [(ngModel)]="categoria._id" readonly>
                </div>

                <div class="form-group">
                    <label>Nombre</label>
                    <input [ngClass]="{'is-invalid': strNombre.errors?.required && forma.controls['strNombre'].touched }" class="form-control form-control-sm" type="text" placeholder="Ingrese nombre" name="strNombre" [(ngModel)]="categoria.strNombre" required #strNombre="ngModel">
                    <div class="invalid-feedback" *ngIf="strNombre.errors?.required">
                        El nombre es necesario
                    </div>
                </div>

                <div class="form-group">
                    <label>Descripción</label>
                    <input [ngClass]="{'is-invalid': strDesc.errors?.required && forma.controls['strDesc'].touched }" class="form-control form-control-sm" type="text" placeholder="Ingrese descripción" name="strDesc" [(ngModel)]="categoria.strDesc" required #strDesc="ngModel">
                    <div class="invalid-feedback" *ngIf="strDesc.errors?.required">
                        La descripcion es necesaria
                    </div>
                </div>

                <app-cargar-imagen (salida)="recibeInfoHijo($event)"></app-cargar-imagen>
                <ul class=" list-inline text-right ">
                    <li class=list-inline-item><button type="button" (click)="cancelar()" class="btn btn-outline-danger btn-sm ">Cancelar</button></li>
                    <li class=list-inline-item><button type="submit" [disabled]="forma.invalid" class="btn btn-outline-primary btn-sm">Modificar</button></li>
                </ul>
            </fieldset>
        </form>
    </div>
</div>