<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="page-title animated fadeIn fast my-4">
        <h6 class="mb-1 text-uppercase text-muted">Reporte de</h6>
        <h5 class="h3 m-0 text-uppercase">Log</h5>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <app-info-card [idCard]=2></app-info-card>
        </div>
        <div class="col-lg-9">
            <app-datatable (salida)="ngClick($event)" *ngIf="paquetito.expree == false" [paquetito]="paquetito"></app-datatable>
            <app-log-detailed (salida)="ngClickRegreso($event)" [paquetito]="paquetito" *ngIf="paquetito.expree == true"></app-log-detailed>
        </div>
    </div>
</div>
<app-footer></app-footer>