<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-12 text-uppercase font-title">
            <h6 class="text-muted mb-1">Añadir</h6>
            <h3>Centro Crecer</h3>
        </div>
    </div>
    <form [formGroup]="forma" encType="multipart/form-data">
        <div class="row">
            <div class="col-md-3">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="../../../../assets/images/CentroCrecerLogo.png">
                    </div>
                </div>
                <!-- Mapa -->
                <app-map-agregar-centro></app-map-agregar-centro>
            </div>
            <!--Llenado de datos-->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h5 class="m-0">Añadir Centro Crecer </h5>
                    </div>
                    <div class="card-body">
                        <h6 class="mb-4">Información del Nuevo Centro Crecer</h6>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Nombre</label>
                                <input [ngClass]="{'is-invalid': !forma.controls['nombre'].valid && forma.controls['nombre'].touched}" class="form-control" type="text " placeholder="Nombre" formControlName="nombre">
                                <div *ngIf="forma.controls['nombre'].errors?.required && forma.touched" class="invalid-feedback">
                                    Es necesario ingresar el nombre.
                                </div>
                            </div>
                            <div class="form-group col-md-6 ">
                                <label>Telefono</label>
                                <input [ngClass]="{'is-invalid': !forma.controls['telefono'].valid && forma.controls['telefono'].touched}" class="form-control" type="text " placeholder="Telefono" formControlName="telefono">
                                <div *ngIf="forma.controls['telefono'].errors?.required" class="invalid-feedback">
                                    Es necesario ingresar el numero de telefono.
                                </div>
                            </div>
                        </div>

                        <h6 class="my-4 ">Ubicación</h6>

                        <div class="form-group ">
                            <label>Dirección</label>
                            <input [ngClass]="{'is-invalid': !forma.controls['direccion'].valid && forma.controls['direccion'].touched}" class="form-control" type="text " placeholder="Dirección" formControlName="direccion">
                            <div *ngIf="forma.controls['direccion'].errors?.required" class="invalid-feedback">
                                Es necesario ingresar una dirección.
                            </div>
                        </div>

                        <div class="row ">

                            <div class="form-group col-md-6 ">
                                <label>Colonia</label>
                                <input [ngClass]="{'is-invalid': !forma.controls['colonia'].valid && forma.controls['colonia'].touched}" class="form-control" type="text " placeholder="Colonia" formControlName="colonia">
                                <div *ngIf="forma.controls['colonia'].errors?.required" class="invalid-feedback">
                                    Es necesario ingresar una colonia.
                                </div>
                            </div>

                            <div class="form-group col-md-3 ">
                                <label>Delegación</label>
                                <input [ngClass]="{'is-invalid': !forma.controls['delegacion'].valid && forma.controls['delegacion'].touched}" class="form-control" type="text " placeholder="Delegación" formControlName="delegacion">
                                <div *ngIf="forma.controls['delegacion'].errors?.required" class="invalid-feedback">
                                    Es necesario ingresar una delegacion.
                                </div>
                            </div>

                            <div class="form-group col-md-3 ">
                                <label>Codigo Postal</label>
                                <input [ngClass]="{'is-invalid': !forma.controls['codigoPostal'].valid && forma.controls['codigoPostal'].touched}" class="form-control" type="text " placeholder="Codigo Postal" formControlName="codigoPostal">
                                <div *ngIf="forma.controls['codigoPostal'].errors?.required" class="invalid-feedback">
                                    Es necesario ingresar una Codigo Postal.
                                </div>
                            </div>

                            <div class="form-group col-md-6 ">
                                <label>Latitud</label>
                                <input [ngClass]="{'is-invalid': !forma.controls['latitud'].valid && forma.controls['latitud'].touched}" value="{{forma.controls.latitud.value}}" name="latitud" class="form-control" type="text" placeholder="Latitud" formControlName="latitud">
                            </div>

                            <div class="form-group col-md-6 ">
                                <label>Longitud</label>
                                <input [ngClass]="{'is-invalid': !forma.controls['longitud'].valid && forma.controls['longitud'].touched}" value="{{forma.controls.longitud.value}}" name="longitud" class="form-control" type="text " placeholder="Longitud" formControlName="longitud">
                            </div>

                            <div class="form-group col-md-6 ">
                                <label>Agregar Imagen</label>
                                <input type="file" (change)="onFileSelected($event)">
                                <button type="button" class="btn btn-outline-primary btn-sm ml-2" (click)="onUpload()">Upload</button>
                            </div>
                        </div>

                        <div class="list-inline mt-3 text-right ">
                            <div class="list-inline-item ">
                                <div class="form-group row ">
                                    <label class="col-2 col-form-label "></label>
                                    <div class="input-group row ">
                                        <button (click)="regresarCatalogo() " type="button " class="btn btn-outline-danger btn-md mr-2 "><i class="fa fa-times mr-2"></i>Cancelar</button>
                                        <button (click)="guardarCC()" [disabled]="!forma.valid" type="submit " class="btn btn-outline-primary btn-md "><i class="fa fa-save mr-2 "></i>Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>